
/* Intro styling */
#intro {
	height: 100%;
	width: 100%;
	position: fixed;
	background-image: url('../images/Intro.jpe');
	background-repeat: no-repeat;
	background-size: contain;
}

.center {
	text-align: center;
	height: 5.5em;
}

/* Intro and outro text styling*/
h2 {
	font-size: 3em;
	color: #000080;
	text-shadow: 3px 3px 5px #add8e6, 3px 3px 5px #000000;
}

/* Quiz header styling*/
header {
	height: 250px;
}

#beer-cheers-1 {
	float: left; 
	width: 25%;
	height: 100%;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
}

#quiz-title {
	float: left;
	width: 50%;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	font-size: 3.5em;
	padding: 10px;
	text-align: center;
}

#beer-cheers-2 {
	float: left; 
	width: 25%;
	height: 100%;
	box-sizing:	border-box; 
	-moz-box-sizing: border-box;
}

.beer-cheers {
	text-align: center;
}

/* Quiz question box styling */
#question-box {
	border: .6em solid transparent;
	border-image: url("../images/olive-border.jpe") 30% round;
	width: 50%;
	margin: auto;
	padding: 2em;
	margin-bottom: 4.1em;
}

p {
	font-size: 1.5em;
}

.beer-meter {
	float: right;
	height: 100%;	
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

/* Quiz submit button */
#submit-answer {
	margin-top: 1em;
	font-size: 1.2em;
	height: 2em;
}

/* End of game styling */
#outro {
	background-image: url("../images/spilled-drink.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 100%;
	height: 100%;
}

.end {
	text-align: center;
}